/*overrides*/
.bg-primary {
    background-color: #6C7A89 !important;
}
.bg-success {
    background-color: #95A5A6 !important;
}
.bg-warning {
    background-color: #999 !important;
}
.bg-danger {
    background-color: #BFBFBF !important;
}
.bg-dark {
    background-color: #333 !important;
}

/*fonts*/
* {
    font-family: 'Noto Serif', Arial, serif;
}

/*other*/
.ImgContainer {
    width: 100%;
    height: 100%;
}
.portfolio-section:hover {
    opacity: 0.8;
    cursor: pointer;
}
